<ion-view view-title="home">
    <ion-content>
        <!-- x -->
        <ion-list can-swipe="listCanSwipe">
            <ion-item ng-repeat="alarm in alarms track by $index">
                <div class="row">
                    <div class="col col-75">
                        <h1> {{alarm.name}} </h2></div>
                <div class="col col-25"> <i ng-class="alarm.status? 'icon ion-toggle' : 'icon ion-toggle-filled'" ng-click="toggleCustom($index)"></i> </div>
            </div>
            <div class="row">
              <div class="col">
                <h2> {{alarm.hour}} : {{alarm.minute}} {{alarm.tod}} </h2>
              </div>
              <div class="col">
                <h3> <span ng-repeat="day in alarm.weekDays" ng-if="day.checked"> {{day.text}} </span></h3>
              </div>
            </div>
            <div class="row">
                <ion-option-button class="button-assertive"
                       ng-click="removeAlarm($index)">
      <i class="icon ion-trash-b"></i>
    </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
