<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>
<ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Home" icon="ion-home" href="#/app/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    </ion-tab>
    <ion-tab title="Login" icon="ion-happy" on-select="fbOut()" hidden="{{fbToggle}}">
    </ion-tab>
    <ion-tab title="Facebook Login" icon="ion-sad" on-select="fbIn()" hidden="{{fbToggle2}}">
    </ion-tab>
</ion-tabs>
<div class="float-button">
    <span class="coolUI">
    <a class="content">
      <i ng-click="openModal(2)" class="ion-plus-round" style="color:#ffffff;"> </i>
      <!-- <img ng-src="img/androidButton.png" ng-click="openModal(2)"> -->
    </a>
  </span>
</div>
<!-- ui-sref="add-trip" -->
