<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Setup</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(2)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="form" novalidate>
            <label class="item item-input">
                <span class="input-label"> Name </span>
                <input type="text" maxlength="30" ng-value="string" ng-model="alarmName" />
            </label>
            <ionic-timepicker input-obj="timePickerObject">
                <button class="button button-block button-balanced overflowShow"> Time: {{dispHour}} : {{alarmMinute}} {{alarmTod.time}}
                    <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
                </button>
            </ionic-timepicker>
            <ion-checkbox ng-repeat="day in alarmDays" ng-model="day.checked" checked="day.checked">{{day.text}} {{day.checked}}</ion-checkbox>
            <div class="clickArea">
                <button class="button button-block button-positive" ng-click="createAlarm()"> Create </button>
                <button class="button button-block button-balanced" ng-click="testAlarm()"> Test </button>
                <button class="button button-block button-positive" ng-click="test()"> Test </button>
                <!-- <button class="button button-positive" ng-click="dispCurTime()"> Show Time </button> -->
            </div>
        </form>
       <!--  {{curTime}} {{ alarmTod.time }} -->
    </ion-content>
</ion-modal-view>
