<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Setup</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(2)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="myForm">
            <label class="item item-input">
                <span class="input-label"> Name </span>
                <input type="text" maxlength="30" ng-value="string" ng-model="alarmName" />
            </label>
            <ionic-timepicker input-obj="timePickerObject">
                <button class="button button-block button-balanced overflowShow"> Time: {{dispHour}} : {{alarmMinute}} {{alarmTod.time}}
                    <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
                </button>
            </ionic-timepicker>
            <ion-checkbox ng-repeat="day in alarmDays track by $index" ng-model="day.checked">{{day.text}} {{day.checked}}</ion-checkbox>
            <div class="clickArea">
                <!-- <button class="button button-block button-positive" ng-click="createAlarm()"> Create </button> -->
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-positive" ng-click=""> Math Task </button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-positive" ng-click=""> Snake Task </button>
                    </div>
                </div>
                <button class="button button-block button-balanced" ng-click="testAlarm()"> Create </button>
            </div>
            <!-- <button class="button button-block button-positive" ng-click="test()"> ClosestDate </button> -->
            <button class="button button-block button-balanced" ng-click="getLocalNotification()"> allLocalNoti </button>
            <!-- <button class="button button-positive" ng-click="dispCurTime()"> Show Time </button> -->
            </div>
            <!-- {{my_form.$pristine}} -->
        </form>
        <!--  {{curTime}} {{ alarmTod.time }} -->
    </ion-content>
</ion-modal-view>
