<ion-modal-view>
    <ion-pane ng-controller="task3Controller" on-swipe-up="onSwipeUp()" on-swipe-down="onSwipeDown()" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()">

<ion-content class="has-header">
<board-layout>
    <div id="gameContainer">
     <div>
      <div class="bar bar-header">
      <button class="button button-balanced" ng-click="startGame()">Start Game</button>
      <button class="button-balanced" ng-click="snooze()" ng-hide="snoozeStatus"><i class="icon ion-social-python"></i></button>
      <div class="title" style="color:#000000;">Score: {{score}}</div>
   </div>
          <div class="row" ng-repeat="column in board">
              <div class="column"
                  ng-style="{'background-color': setStyling($parent.$index, $index)}"
                  ng-repeat="row in column track by $index"
              ></div>
          </div>
      </div>
    </div>
</board-layout>
</ion-content>
</ion-pane>
</ion-modal-view>
