<ion-view view-title="task">
    <ion-pane>
        <!--  <swipe-cards> -->

        <!--  <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
      {{card.equation}} -->
        <!-- <div ng-controller="CardsCtrl">
          <div class="title">
            Swipe down to skip the question.
          </div>
          <div class="equation">
            {{card.equation}}
          </div>
          <!-- <div class="button-bar"> -->
        <!-- <button class="button button-full button-positive" ng-click="stay()">{{card.answera}}</button>
        <button class="button button-full button-energized" ng-click="stay()">{{card.answerb}}</button>
        <button class="button button-full button-royal" ng-click="goAway()">{{card.answerc}}</button>
        <button class="button button-full button-balanced" ng-click="stay()">{{card.answerd}}</button> -->
        <!-- </div> -->
        <!--  </swipe-card>
    </swipe-cards> -->
        <swipe-cards>
       <!--  <swipe-card id="start-card">
        COMPLETE THE TASK TO TURN OFF THE ALARM
        </swipe-card> -->
            <swipe-card ng-repeat="card in cards track by $index" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
            <!-- <swipe-card ng-repeat="card in cards track by $index" on-destroy="cardDestroyed($index)" > -->
                {{card.equation}}
                <button class="button button-full button-positive">{{card.answera}}</button>
                <button class="button button-full button-energized">{{card.answerb}}</button>
                <button class="button button-full button-royal">{{card.answerc}}</button>
                <button class="button button-full button-balanced">{{card.answerd}}</button>
            </swipe-card>
        </swipe-cards>
    </ion-pane>
</ion-view>
