/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.pane {
    background-color: #FFFFFF;
}

.bar.bar-transparent {
    background-color: transparent;
    background-image: none;
    border: none;
}

.bar .title {
    color: #eee;
}

.swipe-cards {
    position: fixed;
}

swipe-card {
    display: none;
    position: fixed;
    -webkit-transform: scale(1, 1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 64px 4px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 64px 4px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 64px 4px rgba(0, 0, 0, 0.39);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

swipe-card .title {
    height: 40px;
    padding: 5px;
    line-height: 30px;
    color: #444;
    text-align: center;
}

swipe-card .equation {
    color: #000;
    font-size: 30px;
    text-align: center;
}

swipe-card .hardm {
    color: #0000FF;
    font-size: 15px;
    text-align: center;
}
swipe-card .histq {
    color: #0000FF;
    font-size: 15px;
    text-align: center;
}
swipe-card .answera {
    color: #000;
    font-size: 30px;
    text-align: center;
}

swipe-card .answerb {
    color: #000;
    font-size: 30px;
    text-align: center;
}

swipe-card .answerc {
    color: #000;
    font-size: 30px;
    text-align: center;
}

swipe-card .answerd {
    color: #000;
    font-size: 30px;
    text-align: center;
}

swipe-card .button {
    border: none;
}

swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

#start-card {
    color: #fff;
    background-color: #30BD8A;
    line-height: 300px;
    word-wrap: break-word;
    border: 6px solid #4CD68E;
    text-align: center;
}

#start-card span {
    display: inline-block;
    line-height: 40px;
    width: 200px;
    font-size: 30px;
    vertical-align: middle;
}

#footer .button {
    color: #fff;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0, 0);
    }
    70% {
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

swipe-card.pop-in-start {
    -webkit-transform: scale(0, 0);
}

swipe-card.pop-in {
    -webkit-animation: bounceIn 0.5s ease-out;
}

.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    padding: 30px;
    font-size: 40px;
    background: #4a87ee;
    position: fixed;
    bottom: 20px;

    /* Adjust to where you want it */
    right: 20px;
    /* Adjust to where you want it */
    z-index: 9999;
}

.float-button .height_fix {
    margin-top: 100%;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    /* Note, this must be half the font size */
    color: $light;
}

#gameContainer, #pastScores {
  /*width: 100px;*/
  float: center;
}

board-layout .row {
  height: 20px;
}

board-layout .column {
  /*border: 1px solid white;*/
  width: 19px;
  height: 19px;
  display: inline-block;
}

board-layout {
  /*width: 100px;*/
  /*padding: 10px;*/
  /*margin-top: 5px;*/
  /*text-align: center;*/
  /*background-color: #eee;*/
}

#startGame:hover {
  color: red;
  cursor: pointer;
}
